:root  {
    --var1: #DE883A;
    --var: #FEF772;
    --var3: #092EA2;
    --var4: #101010;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    width: 100vw;
    max-width: 100%;
}

h2 {
    font-family: "Hrot Premium",sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--var3);
    font-style: italic;
    font-size: 60px;
}



a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
}