*, li{
    margin: 0px;
    padding: 0px;
    color: white;
}

footer {
    width: 100%;
    background-color: #161616;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5 {
    font-size: 20px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 50px;
    gap: 32px;
}

.footer__content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 64px;
}

.footer__company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 23px;
    width: 25%;
}

.footer__company__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 19px;
}

.footer__company__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.footer__links-table {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__categories {
    display: flex;
    justify-content: space-between;
}

.footer__categories h5 {
    width: 150px;
}

.footer__company__socials {
    width: 132px;
    display: flex;
    justify-content: space-between;
}

.footer__links {
    gap: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.footer__links .footer__link__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
}

.footer__link__list ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.contact-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__categories, .footer__links {
    flex-wrap: wrap;
}