header {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #161616;
}

.nav__logo {
    display: flex;
    justify-content: center;
    width: 15%;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
    height: 100px;
    max-width: 1200px;
    align-items: center;
}

.nav__menu ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    font-family: "Hrot Premium",sans-serif;
    font-weight: 800;
    font-size: 1.2em;
}

.nav__links {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    gap: 5px;
    width: 15%;
}

.nav__links div {
    display: flex;
    gap: 10px;
}

.nav__links div img {
    height: 16px;
}


button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    translate: 0px 10px;
}

@media screen and (max-width: 890px) {
    button {
        display: block;
        z-index: 1000;
    }

    .nav__links {
        display: none;
    }

    .nav__menu {
        display: none;
    }

    .nav__menu.expanded {
        display: block;
        position: absolute;
        width: 100%;
        top: 100px;
        background-color: #161616bd;
    }

    .nav__menu.expanded ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }
}