header {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #161616;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
    height: 100px;
    max-width: 1000px;
    align-items: center;
}

.nav__menu ul {
    display: inline-flex;
    gap: 24px
}

.nav__links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav__links div:first-child {
    display: flex;
    gap: 5px;
}

button {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    translate: 0px 10px;
}

@media screen and (max-width: 700px) {
    button {
        display: block;
        z-index: 1000;
    }

    .nav__links {
        display: none;
    }

    .nav__menu {
        display: none;
    }

    .nav__menu.expanded {
        display: block;
        position: absolute;
        width: 100%;
        top: 100px;
        background-color: #161616bd;
    }

    .nav__menu.expanded ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }
}